.topBar {
    /* border: 1px solid green; */
    text-align: center;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vw;
    font-size: 4rem;
    background-color: blanchedalmond;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    border: 5px solid rgb(252, 80, 0);
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    position: relative;
}

.pillBoxContainer {
    /* border: 1px solid hotpink; */
    width: 80vw;
    height: 100vh;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pillBox {
    border: 1px solid skyblue;
    width: 80vw;
    height: 75vh;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pillBoxTopTitle {
    border: 1px solid darkseagreen;
    text-align: center;
    font-size: 3rem;
}

.pillBoxBottomContainerInfo {
    border: 1px solid yellow;
    width: 100%;
    flex: auto;
    display: flex;
    justify-content: space-between;
}

.infoBoxPhoto {
    border: 5px solid sienna;
    /* display: block; */
    margin: 0 auto;
}

.infoBoxPhotoContainer {
    border: 5px solid teal;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBoxTextBox {
    /* border: 5px solid red; */
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoBoxText {
    /* border: 1px solid palegreen; */
    flex: auto;
    text-align: center;
}


/* Mobile */

@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }
}


/* Tablet and Smaller Desktop */

@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (prefers-color-scheme: dark) {}