.topBar {
    border: 2px solid green;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 50vh;
    border: 5px solid lawngreen;
}

.pillBox {
    border: 5px solid crimson;
    width: 100%;
    flex: auto;
}

.pillBoxTopTitle {
    border: 5px solid darkseagreen;
    text-align: center;
}

.pillBoxBottomContainer {
    border: 5px solid slateblue;
    width: 100%;
    flex: auto;
    display: flex;
    justify-content: space-between;
}

.infoBoxPhoto {
    border: 15px solid indigo;
    flex: auto;
}

.infoBoxText {
    border: 15px solid palevioletred;
    flex: auto;
}


/* Mobile */

@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }
}


/* Tablet and Smaller Desktop */

@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (prefers-color-scheme: dark) {}