.topBar {
    border: 1px solid green;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid rgb(252, 80, 0);
}

.pillBox {
    border: 1px solid hotpink;
    width: 100%;
    flex: auto;
}

.pillBoxTopTitle {
    border: 1px solid darkseagreen;
    text-align: center;
}

.pillBoxBottomContainerInfo {
    border: 1px solid yellow;
    width: 100%;
    flex: auto;
    display: flex;
    justify-content: space-between;
}

.infoBoxPhoto {
    border: 1px solid orangered;
    /* display: block; */
    margin: 0 auto;
}

.infoBoxPhotoContainer {
    border: 1px solid teal;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBoxTextBox {
    border: 1px solid slateblue;
    flex: auto;
    text-align: center;
}

.infoBoxText {
    border: 1px solid palegreen;
    flex: auto;
    text-align: center;
}


/* Mobile */

@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }
}


/* Tablet and Smaller Desktop */

@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (prefers-color-scheme: dark) {}